{% extends "layout.html" %}

{% block page_body %}
<div class="col-12">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">{{ resource_label }}</h3>
    </div>
    <dl class="card-body row mb-0">
      {% for field in fields %}
        <dt class="col-sm-3">{{ field.label }}</dt>
        <dd class="col-sm-9">{{ rendered_values[loop.index0]|safe }}</dd>
      {% endfor %}
    </dl>
    <div class="card-footer">
      <a class="btn btn-secondary" href="{{ request.app.admin_path }}/{{ resource }}/list">
        {{ _('return') }}
      </a>
    </div>
  </div>
</div>
{% endblock %}
